@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepage-topic {
  font-family: "Fredoka One", cursive;
}

h3.homepage-topic {
  color: #fb4b29;
  text-decoration: underline;
}

.inner-container {
  padding: 20px 40px;
  background-color: #f2f2f2;
  border-radius: 30px;
}

.product-container {
  padding: 20px 10px;
  background-color: #f2f2f2;
  border-radius: 30px;
}

.fit-screen {
  height: 100%;
  background-color: #1b212c;
}

h2.overlay-text {
  font-size: 100px;
  color: white;
  text-align: right;
}

h4.overlay-text {
  font-size: 30px;
  color: white;
  text-align: right;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 20;
  width: 20;
  background-size: 100%, 100%;
  background-image: none;
}

.menu-item-homepage {
  margin: 30px 0;
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  transform: rotate(-90deg);
  height: 30px;
}

.active-item a {
  color: #fb4b29;
  text-decoration: underline;
}

.inactive-item a {
  color: #f2f2f2;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev span,
.owl-next span {
  font-size: 2.5rem;
  color: #fb4b29;
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}
